<div id="login-form">
  <h2>Login</h2>
  <hr>

  <form 
    #loginForm = "ngForm" 
    (ngSubmit)="onSubmit(this.user)"
  >

      <div class="form-group">
        <label>Username*</label>
        <input 
          type="text" 
          [(ngModel)]="this.user.username"
          #username = "ngModel"
        >

        <div class="form-group">
          <label for="password">Password*</label>
          <input 
            type="password" 
            [(ngModel)]="this.user.password"
            #password = "ngModel"
          >
          <button  
          class="btn btn-primary"
        >
          Login
  
        </button>
  
        <a routerLink="/signup" class="btn">Signup</a>
      </form>
  </div>
